.activityStats {
  display: flex;
  flex-direction: column;
  height: 120px;

  .activityArea {
    flex: 1;
    padding: 1rem 2rem 0.4rem 0;

    .statsHeader {
      .title {
        img {
        }
      }

      .cta {
        color: #0376c9;
        font-size: 0.8rem;
      }
    }
  }

  .statsArea {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;

    .stat {
      margin-top: 1rem;
      padding-top: 1rem;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      flex: 1;

      .value {
      }

      .unit {
      }

      &:nth-child(2),
      &:nth-child(3) {
        padding-left: 2rem;
        border-left: 1px solid #848c96;
      }
    }
  }
}
