form {
  .ownerAddressWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 0.9rem;
    line-height: 0.8rem;
    margin-top: 12px;

    .copyIcon {
      height: 1rem;
      top: 4px;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }
  }
}
