.dashboardAccountOverview {
  .cardsArea {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 2rem;
  
    .accountInfo{
      flex: 3;
    }
  
    .accountProgress {
      flex: 5;
    }
  }  
}