.rewardsPoints {
  display: flex;
  flex-direction: row;
  height: 120px;

  .availableArea {
    flex: 1;
    border-right: 1px solid #848c96;
    padding: 1rem 2rem 0 0;

    .availableHeader {
      .title {
        img {
        }
      }

      .cta {
        color: #0376c9;
        font-size: 0.8rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .balanceArea {
    flex: 1;
    padding: 1rem 0rem 0 2rem;

    .balanceHeader {
      img {
        margin-right: 0.6rem;
      }
    }
  }

  .stat {
    margin-top: 1.6rem;
    .value {
    }

    .unit {
    }
  }
}
