.web3BuilderVerification {
  .title {

  }

  .step {
    &:nth-child(2), &:nth-child(3) {
      border-bottom: 1px solid #999;
      padding-bottom: 1.2rem;
    }

    p {
      font-size: 0.8rem;
    }

    button.smallBtn {
      margin-top: 0;
    }
  }
}